<div class="p-3 mb-2 bg-secondary text-white">Categories Management</div>
<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <th scope="row">{{category.Id}}</th>
        <td>{{category.Name}}</td>
        <td>
            <div  class="">
                <a routerLink="category/{{category.Id}}" class="badge badge-primary p-2 ml-2"><i class="far fa-eye"></i></a>
                <a routerLink="category/{{category.Id}}" class="badge badge-danger p-2 ml-2"><i class="far fa-trash-alt"></i></a>
            </div>
        </td>   
      </tr>
    </tbody>
  </table>

<router-outlet></router-outlet>